<!DOCTYPE html><!-- if IE 8html.ie8(lang='en')--><!-- if IE 9html.ie9(lang='en')--><!--if !IE| [if !IE]-->
<html lang="en"><!--[endif]-->
<head><title>Protein Per Calorie</title><!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Global CSS-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS-->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/search.css">
    <!-- Theme CSS-->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- Javascripts -->
    <script data-main="javascripts/search.js" src="javascripts/lib/require.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

|
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
-->
</head>
<body data-spy="scroll"><!-- -//Facebook button code-->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- ******HEADER******-->
<header id="header" class="header">
    <div class="container"><h1 class="logo pull-left"><a href="#promo" class="scrollto"><span class="logo-title">// add top title here</span></a>
    </h1><!-- //logo-->
        <nav id="main-nav" role="navigation" class="main-nav navbar-right">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <!-- //nav-toggle--></div>
            <!-- //navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item sr-only"><a href="#promo" class="scrollto">Home</a></li>
                    <li class="nav-item"><a href="#about" class="scrollto">About</a></li>
                    <li class="nav-item"><a href="#features" class="scrollto">Features</a></li>
                    <li class="nav-item"><a href="#docs" class="scrollto">Docs</a></li>
                    <li class="nav-item"><a href="#license" class="scrollto">License</a></li>
                    <li class="nav-item last"><a href="#contact" class="scrollto">Contact</a></li>
                </ul>
                <!-- //nav--></div>
            <!-- //navabr-collapse--></nav>
        <!-- //main-nav--></div>
</header>
<!-- //header--><!-- ******PROMO******-->
<section id="promo" class="promo section offset-header">
    <div class="container text-center"><h2 class="title">Protein /<span class="highlight">Calorie</span></h2>

        <p class="intro"><br></p>

        <div id="searchfield">
            <form onsubmit="return false;"><input id="autocomplete" type="text" name="currency" class="biginput"></form>
        </div>
        <!-- @end #searchfield-->
        <div id="outputbox"><p id="outputcontent">Choose a currency and the results will display here.</p></div>
        <ul class="meta list-inline">
            <li><a href="#" target="_blank">View on GitHub</a></li>
            <li><a href="https://github.com/twbs/bootstrap" target="_blank">Full Documentation</a></li>
            <li>Created by <a href="http://ty.giacalone.me/" target="_blank">Ty Giacalone</a></li>
            <li>Powered by <a href="http://www.nutritionix.com/api" target="_blank">Nutritionix</a>
                & <a href="http://www.nutritionix.com/api" target="_blank">USDA API</a></li>
        </ul>
        <!-- //meta--></div>
    <!-- //container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">
                <li class="twitter-follow"><a href="https://twitter.com/3rdwave_themes" data-show-count="false"
                                              class="twitter-follow-button">Follow @3rdwave_themes</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                </li>
                <!-- //twitter-follow-->
                <li class="twitter-tweet"><a href="https://twitter.com/share" data-via="3rdwave_themes"
                                             data-hashtags="bootstrap" class="twitter-share-button">Tweet</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                </li>
                <!-- //twitter-tweet-->
                <li class="facebook-like">
                    <div data-href="http://themes.3rdwavemedia.com/" data-layout="button_count" data-action="like"
                         data-show-faces="false" data-share="true" class="fb-like"></div>
                </li>
                <!-- //facebook-like--><!-- // Generate github buttons: https://github.com/mdo/github-buttons-->
                <li class="github-star">
                    <iframe src="http://ghbtns.com/github-btn.html?user=mdo&amp;repo=github-buttons&amp;type=watch&amp;count=true"
                            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                </li>
                <li class="github-fork">
                    <iframe src="http://ghbtns.com/github-btn.html?user=mdo&amp;repo=github-buttons&amp;type=fork"
                            allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                </li>
            </ul>
        </div>
    </div>
</section>
<script src="/javascripts/search.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.autocomplete.min.js"></script>
</body>
</html>
